<h1>
  {{ heroe._id ? "Editar" : "Nuevo" }}
  Héroe <small>{{ heroe.superhero }}</small>
</h1>

<div class="form-layout">
  <div class="col-25 fx-column">
    <div class="field-row">
      <mat-form-field class="field-full">
        <mat-label>Super Héroe</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.superhero" required />
      </mat-form-field>

      <mat-form-field class="field-full">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.alter_ego" required />
      </mat-form-field>
    </div>

    <mat-form-field class="field-full">
      <mat-label>Primera Aparición</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="heroe.first_appearance"
        required
      />
    </mat-form-field>
    <mat-form-field class="field-full">
      <mat-label>Personajes</mat-label>
      <input matInput type="text" [(ngModel)]="heroe.characters" required />
    </mat-form-field>
    <mat-form-field class="field-full">
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option
          *ngFor="let publisher of publishers"
          [value]="publisher.desc"
        >
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field-full">
      <mat-label>Foto Url</mat-label>
      <input matInput type="url" [(ngModel)]="heroe.alt_img" required />
    </mat-form-field>
    <br />
    <div class="fx-row">
      <button mat-raised-button color="primary" (click)="guardar()">
        <mat-icon>edit</mat-icon>
        {{ heroe._id ? "Actualizar" : "Crear" }}
      </button>
      <span class="spacer"></span>
      <button
        *ngIf="heroe._id && !heroe.seeded"
        mat-raised-button
        color="warn"
        (click)="borrar()"
      >
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>

  <div class="col-25">
    <img [src]="heroe | imagen" [alt]="heroe.superhero" />
  </div>
</div>
